.DS_Store
.Trash/
.anyconnect
.anyconnect-stats.txt
.bash_history
.histfile
.android/
.npm/
.cache/
.config/
.cisco/
.cups/
.dropbox/
.htoprc
.lesshst
.m2/
.rnd
.viminfo
.ssh/
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
Work/
Virtual Machines/
